@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.light-theme {
    --background-color: #fbfbfe;
    --text-color: #040316;
    --topbar-bg-color: #fbfbfe;
    --task-column-bg-color: #443dff;
    --task-card-bg-color: #dddbff;

    --border-color: #E1E1E4;
    --shadow-color-no-status: #403a59;
    --shadow-color-next-up: #0600c2;
    --shadow-color-in-progress: #aca1d9;
    --shadow-color-completed: #D8C9F4;

    --no-status-color: #040316;
    --next-up-color: #443dff;
    --in-progress-color: #dddbff;
    --completed-color: #F6F4FE;

    --primary-color: #dddbff;
    --secondary-color: #aca1d9;
    --accent-color: #4A00CA;
    --dark-color: #040316;

    --pricing-plan-bg-color: #dddbff;
    --pricing-plan-accent-color: #D8C9F4;

    --pricing-plan-shadow-color: #aca1d9;
}

.dark-theme {
    --background-color: #010104;
    --text-color: #eae9fc;
    --topbar-bg-color: #fbfbfe;
    --task-column-bg-color: #2c2c2c;
    --task-card-bg-color: #444444;

    --border-color: #1B1B1E;
    --shadow-color-no-status: #403a59;
    --shadow-color-next-up: #0600c2;
    --shadow-color-in-progress: #aca1d9;
    --shadow-color-completed: #D8C9F4;

    --no-status-color: #020024;
    --next-up-color: #2f27ce;
    --in-progress-color: #443dff;
    --completed-color: #dddbff;

    --primary-color: #aca1d9;
    --secondary-color: #3a31d8;
    --accent-color: #0600c2;
    --dark-color: #aca1d9;

    --pricing-plan-bg-color: #11012E;
    --pricing-plan-accent-color: #2f27ce;

    --pricing-plan-shadow-color: #11012E;
}
body {
    font-family: 'Inter', serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    padding-top: 60px;
    /* Add padding to prevent content from being hidden under the topbar */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0 20px;
    height: 50px;
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.topbar-title {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
    font: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    outline: none;
    font-size: 1.5em;
    font-weight: bold;
}

.toolbar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    margin-right: 10px;
}

.topbar-button {
    background-color: inherit;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 10px;
    white-space: nowrap;
    transition: opacity 0.3s;
    /* Smooth transition for opacity */
}

.topbar-button:hover {
    opacity: 0.6;
}

/* Go Back Button */
.go-back-btn {
    position: fixed;
    top: 60px;
    /* Adjusted to be just below the topbar */
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.3s ease;
}

.go-back-btn img {
    width: 24px;
    height: 24px;
}

.dark-theme .go-back-btn img {
    filter: invert(100%);
}

.go-back-btn:hover {
    transform: scale(1.2);
}

.feedback-container {
    text-align: center;
    padding: 50px;
}

.feedback-slider {
    overflow: hidden;
}

.feedback-wrapper {
    display: flex;
    animation: slide 900s linear infinite; 
}

.feedback-item {
    min-width: 300px;
    margin: 0 20px;
    padding: 20px;
    background: var(--pricing-plan-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--pricing-plan-shadow-color);
    box-sizing: border-box;
}

.feedback-item img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}


@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.contact-container {
    text-align: center;
    margin: 50px 0;
}

.contact-container h2 {
    margin-bottom: 10px;
}

.contact-container p {
    margin-bottom: 20px;
}

.contact-container a {
    text-decoration: none;
    color: inherit;
}

.contact-container button {
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.contact-container button:hover {
    transform: scale(1.1);
    box-shadow: var(--accent-color) 0px 10px 80px -5px;
}